/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/log
/config/deploy/production.rb
/config/deploy/staging.rb
/config/deploy.rb
.history
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
